<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><%= @shop.name %></h1>
          <h4 class="card-subtitle mb-2 text-muted"><%= @shop.prefecture.name %></h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <% @letters.order(created_at: :DESC).each do |letter| %>
      <div class="col-md-4 col-sm-6">
        <div class="card mb-3">
          <div class="card-body">
            <%= letter.content %>
            <%= letter.user.name %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>