<div class="jumbotron jumbotron-fluid d-flex align-items-center" style="background:url(<%= asset_path('about.jpeg') %>); background-size:cover; background-attachment: fixed; background-position: center center; height: 100vh;">
  <div class="container">
    <div class="title text-light float-right">
      <h4 class="text-right">感謝のメッセージを送ろう</h4>
      <p class="text-right">
        <br>
        素晴らしい接客してもらった時<br>
        ふと生活を支えている人への感謝の気持ちが湧き出た時<br>
        その感謝をメッセージにして届けましょう<br>
        <br>
        あなたのメッセージが、その人の働く価値になるかもしれません
      </p>
    </div>
  </div>
</div>
