<div class="jumbotron jumbotron-fluid d-flex align-items-center" style="background:url(<%= asset_path('home.jpeg') %>); background-size:cover; background-attachment: fixed; background-position: center center; height: 100vh;">
  <div class="container">
    <div class="text-light">
      <h1 class="title">LETTERS</h1>
      <h3>感謝の気持ちを伝えよう</h3>
    </div>
  </div>
</div>